.button {

    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;

}

.button:hover {
    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
}

.button:pressed {
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1)  , 10, 0.1 , 6 , 8);
}
/*.menu-bar{
    -fx-background-color:
        linear-gradient( #fff 0%, #a8e6fb 45%, #88c6fb 50%, #d5faff 99%, #3e4afd 100%  );
    -fx-background-insets: 0 ;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

.menu {
    -fx-background-color:transparent;
    -fx-border-color: transparent;
}

.menu, .menu-item{
    -fx-text-fill: #222;
}

.menu-item{
    -fx-border-width: 0px;
    -fx-background-insets: 0 ;
}

* Selected itens 
.menu:selected,
.menu:hover,
.menu:focused,
.menu:focus,
.menu:showing,
.menu:active,
.menu-item:hover,
.menu-item:focused,
.table-row-cell:filled:focused:selected,
.table-row-cell:selected{
    -fx-background-color:
        linear-gradient( #386de2 0%, #689df2 50%, #386de2 100%  );;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1)  , 10, 0.1 , 0 , 0);
}*/

.loader-pane{
    -fx-background-color: linear-gradient(#fff 0%,  #fff 90%, #98D6fb 100%);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 15, 0.0 , 0 , 1 );
    -fx-background-radius: 2;
}